body {
	background-color: tan;
	color: teal;
	font-family: 'Braggadocio';
}
.main-header {
	width: 100%;
	height: auto;
	margin-top: 1.5rem;
}
.artist-name {
	float: left;
	font-size: 4rem;
	margin-top: 0rem;
	padding-right: 31.4rem;
}
li {
	float: left;
	list-style: none;
	padding-top: 1rem;
	padding-left: 2.5rem;
	font-size: 2rem;
}
li:hover {
	text-decoration: underline;
}
.music-container {
	clear: both;
	float: left;
	position: center;
	width: auto;
	border: 3px solid teal;
	padding: 1rem;
	margin-bottom: 2rem;
}
.cover-1 .cover-2 .cover-3 {
	height: 20rem;
	width: 20rem;
}
.cover-1 .cover-3 {
	clear: both;
	float: left;
}
.cover-2 {
	float: left;
}
audio {
	clear: both;
	float: left;
	align-items: center;
	width: 100%;
}
source {

}