body {
	background-color: tan;
	color: black;
	font-family: 'Braggadocio';
}
.main-header {
	text-align: center;
	width: 100rem;
	height: auto;
	margin-top: 1.5rem;
}
.artist-name {
	float: left;
	font-size: 4rem;
	margin-top: 0.5rem;
	padding-left: 4.5rem;
	padding-right: 32.2rem;
}
li {
	color: black;
	float: left;
	list-style: none;
	padding-top: 1.5rem;
	padding-left: 2rem;
	font-size: 2rem;
}
a:hover {
	text-decoration: underline;
}
.music-box-1, .music-box-3 {
	clear: both;
	float: left;
	border: 3px solid black;
	padding: 1rem;
	margin-bottom: 4.5rem;
	margin-left: 4.5rem;
}
.music-box-2, .music-box-4 {
	float: left;
	border: 3px solid black;
	padding: 1rem;
	margin-bottom: 4.5rem;
	margin-left: 4.5rem;
}
img {
	display: block;
	height: 40rem;
	width: height;
}
.cover {
	float: left;
}
audio {
	float: left;
	align-items: center;
	width: 100%;
}