body {
	background-color: tan;
	color: black;
	font-family: 'Braggadocio';
}
.main-header {
	text-align: center;
	width: 100rem;
	height: auto;
	margin-top: 1.5rem;
}
.artist-name {
	float: left;
	font-size: 4rem;
	margin-top: 0.5rem;
	padding-left: 4.5rem;
	padding-right: 32.2rem;
}
li {
	color: black;
	float: left;
	list-style: none;
	padding-top: 1.5rem;
	padding-left: 2rem;
	font-size: 2rem;
}
a:hover {
	text-decoration: underline;
}
.artist-pic-box-one {
	clear: both;
	float: left;
	border: 3px solid black;
	padding: 1rem;
	margin-left: 4.9rem;
}
.artist-pic-box-two {
	float: left;
	border: 3px solid black;
	padding: 1rem;
	margin-left: 9.7rem;
}
img {
	display: block;
	height: 33rem;
	width: height;
}
.artist-description {
	clear: both;
	float: left;
	margin-top: 1rem;
	margin-left: 6rem;
	width: 87rem;
}
p {
	float: left;
	text-decoration: none;
	text-align: center;
	color: black;
	font-family: 'monotype corsiva';
	font-style: normal;
	font-size: 2.25em;
}
span {
	color: darkblue;
}